<html>
    
{% block content %}

    <head>
        <style>
        #form,body
        {
            background-image: url("stat/img/tour.jpg");
        }
        </style>
        <script>
            function validateForm() {
                var x = document.forms["myForm"]["loc1"].value;
                var y = document.forms["myForm"]["loc2"].value;
                if (x == ""||y=="") {
                  alert("locations must be filled out");
                  return false;
                }
              }
        </script>
    </head>
<body>
</head>


<center>
<form id="form" name="myForm" action="location" onsubmit="return validateForm()" method='POST'>
    {% csrf_token %}
    <table cellpadding=1 cellspacing=2 >
<tr>
   <td>Enter the location:</td> 
   <td><input type="text" name="loc1"></td>
</tr>
    <tr><td>Enter the Destination:</td>
    <td><input type="text" name="loc2"></td>
</tr>
    <td><input type="Submit"></td>
    <td><input type="Reset" value="reset"></td>
</td>
    </table>
</form>
</center>
</body>
{% endblock %}
</html>
